@import "flatpickr/dist/flatpickr.min.css";
@import "modern-normalize/modern-normalize.css";

:root {
  font-size: 1rem;
  --orange: #f16e21;
  --blue: #004467;
  --bg-white: #fff;
  --bg-light-grey: #f8f9fa;
}

*,
*::before,
*::after {
  color: var(--blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--bg-white);
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  background-color: var(--bg-light-grey) !important;
  width: 100%;
  padding: 0.75rem;
  /* margin-bottom: 1rem; */
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
  font-size: 1rem;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="date"]:invalid,
select:invalid,
textarea:invalid {
  border: 2px red solid;
}
/* textarea {
  min-height: 100px;
  resize: vertical;
} */

button {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue);
  color: var(--bg-white);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  color: var(--orange);
}

/*** LAYOUT MOBILE-FIRST ***/

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* *** FILTER CONTROLS *** */
.filter-controls {
  margin-top: 5px;
  width: 100%;
}
.filter-controls input {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}
.filter-controls button {
  font-size: 0.9rem;
  width: 90%;
  padding: 0.2rem 0.5rem;
}

.filter-group {
  width: 36%;
  gap: 0 !important;
}

.filter-btns-div {
  width: 27%;
  font-size: 0.9rem;
  gap: 0.2rem !important;
}

/* *** FILTER MODAL *** */
.filter-modal .tot-amount {
  font-size: 1.2rem;
  color: var(--orange);
}
.filter-modal h3 {
  text-align: center;
}

/* *** SUMMARY *** */
.summary {
  width: 100%;
  margin: 5px;
}

.summ-title img {
  width: 70px;
}
.summ-title h2 {
  margin-bottom: 0;
  color: var(--orange);
}

.summary .totals {
  width: 100%;
  gap: 3rem;
}
.summary .totals div {
  font-weight: bold;
  width: 100%;
  gap: 0.1rem;
}
.summary .totals span {
  font-weight: bold;
  padding: 1px 5px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--orange);
  border-radius: 0.25rem;
}

/* *** ADD BUTTON *** */
.add-expense-modal {
  font-size: 1.1rem;
  font-weight: bold;
}

/* *** ADD MODAL *** */
.add-modal,
.info-modal,
.filter-modal {
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 80%;
  position: absolute;
  z-index: 100;
  background-color: var(--bg-white);
  top: 10%;
  margin: 0px 5px;
  display: none;
}

.add-modal .add-modal-content {
  position: relative;
}
.add-modal .add-modal-content h2 {
  margin-top: 5px;
}

.add-modal .form-title {
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.add-modal .form-title .close-modal,
.del-btn,
.close-info-modal,
.close-filter-modal {
  background-color: var(--blue);
  border-radius: 0.25rem;
  border: none;
  color: var(--bg-white);
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  padding: 0.5rem;
}
.add-modal .form-title .close-modal:hover {
  color: var(--orange);
  cursor: pointer;
}

.add-modal h2,
.info-modal h2,
.filter-modal h2,
.filter-modal h3 {
  margin-bottom: 0;
  color: var(--orange);
}

.add-modal form {
  gap: 0.5rem;
}

.add-modal .modal-form-grp {
  width: 100%;
}
.add-modal .modal-form-grp label {
  margin-left: 10px;
}

.add-modal .modal-form-grp input:focus,
.add-modal .modal-form-grp select:focus {
  border: 2px solid var(--orange);
  outline: none;
}

/* *** LIST *** */
.expense-list {
  padding: 2px 5px;
  margin-bottom: 0;
  border: 2px solid var(--orange);
  border-radius: 0.25rem;
  width: 100%;
  height: auto;
}

.expense-list {
  gap: 0.25rem !important;
  padding: 0.25rem;
}

.expense-list .list-item {
  background-color: var(--blue);
  border-radius: 0.25rem;
  width: 100%;
  justify-content: space-between;
  color: var(--bg-white);
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}
.expense-list .list-item:hover {
  color: var(--orange);
  cursor: pointer;
}

.expense-list .list-item * {
  color: inherit;
}

.expense-list .list-item .li-date {
  width: 25%;
}

.expense-list .list-item .li-name {
  overflow: hidden;
  width: 40%;
}

.expense-list .list-item .li-amount {
  width: 20%;
  text-align: end;
}

.expense-list .list-item .del-btn {
  background-color: var(--bg-white);
  color: var(--blue);
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  width: 25px;
  height: 25px;
}

/* *** FLEXBOX *** */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

/* *** INFO MODAL *** */
.info-modal,
.filter-modal {
  padding: 1rem;
}

.info-modal .info-modal-content,
.filter-modal-content {
  width: 100%;
  position: relative;
}

.info-modal .close-info-modal,
.filter-modal .close-filter-modal,
.add-modal .close-modal {
  position: absolute;
  top: 0;
  right: 0;
}

.info-modal p span,
.filter-modal p span {
  font-weight: bold;
}

/* *** EFFECTS *** */

.blur-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

/* *** MEDIA QUERIES *** */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
