@import "flatpickr/dist/flatpickr.min.css";
@import "modern-normalize/modern-normalize.css";

:root {
  font-size: 1rem;
  --orange: #f16e21;
  --blue: #004467;
  --bg-white: #fff;
  --bg-light-grey: #f8f9fa;
}

*,
*::before,
*::after {
  color: var(--blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--bg-white);
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  background-color: var(--bg-light-grey);
  width: 100%;
  padding: 0.75rem;
  /* margin-bottom: 1rem; */
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
  font-size: 1rem;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="date"]:invalid,
select:invalid,
textarea:invalid {
  border: 2px red solid;
}
/* textarea {
  min-height: 100px;
  resize: vertical;
} */

button {
  padding: 0.75rem 1.5rem;
  background-color: var(--blue);
  color: var(--bg-white);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/*** Layout (Mobile-First) ***/

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* *** FILTER CONTROLS *** */
.filter-controls {
  margin-top: 5px;
  /* justify-content: space-between !important; */
  width: 100%;
}
.filter-controls input {
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
}
.filter-controls button {
  height: 100%;
  padding: 5px 10px;
}

.filter-group {
  width: 36%;
  gap: 0 !important;
}

/* *** SUMMARY *** */
.summary {
  /* border: 1px solid var(--orange); */
  width: 100%;
  margin: 5px;
}

.summ-title img {
  width: 70px;
}
.summ-title h2 {
  margin-bottom: 0;
  color: var(--orange);
}

.summary .totals {
  width: 100%;
  gap: 3rem;
  /* justify-content: space-between; */
}
.summary .totals div {
  font-weight: bold;
  width: 100%;
  gap: 0.1rem;
}
.summary .totals span {
  font-weight: bold;
  padding: 1px 5px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--orange);
  border-radius: 0.25rem;
}

/* *** ADD BUTTON *** */
.add-expense-modal {
  font-size: 1.1rem;
  font-weight: bold;
}

.add-expense-modal:hover {
  color: var(--orange);
}

/* *** ADD MODAL *** */
.add-modal,
.info-modal {
  border: 2px solid var(--blue);
  border-radius: 0.25rem;
  padding: 5px;
  width: 80%;
  position: absolute;
  z-index: 1;
  background-color: var(--bg-white);
  top: 10%;
  margin: 0px 5px;

  display: none;

  /* box-shadow: ; */
}

.add-modal .form-title {
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.add-modal .form-title .close-modal,
.del-btn,
.close-info-modal {
  background-color: var(--blue);
  border-radius: 0.25rem;
  border: none;
  color: var(--bg-white);
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  /* padding: 1rem; */
}
.add-modal .form-title .close-modal:hover {
  color: var(--orange);
  cursor: pointer;
  /* background-color: darken(var(--blue), 10%); */
}

.add-modal h2,
.info-modal h2 {
  margin-bottom: 0;
  color: var(--orange);
  /* margin-top: 5px; */
}

.add-modal form {
  gap: 0.5rem;
}

.add-modal .modal-form-grp {
  width: 100%;
}
.add-modal .modal-form-grp label {
  margin-left: 10px;
}

.add-modal .modal-form-grp input:focus,
.add-modal .modal-form-grp select:focus {
  border: 2px solid var(--orange);
  outline: none;
  /* border: none; */
}

/* *** LIST *** */
.expense-list {
  padding: 2px 5px;
  margin-bottom: 0;
  border: 2px solid var(--orange);
  border-radius: 0.25rem;
  width: 100%;
  height: auto;
}

.expense-list {
  gap: 0.25rem !important;
  padding: 0.25rem;
}

.expense-list .list-item {
  background-color: var(--blue);
  border-radius: 0.25rem;
  width: 100%;
  justify-content: space-between;
  color: var(--bg-white);
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
}
.expense-list .list-item .li-amount {
  text-align: end;
}
.expense-list .list-item * {
  color: inherit;
}
.expense-list .list-item span[class*="li-"] {
  width: 5rem;
}
.expense-list .list-item .del-btn {
  background-color: var(--bg-white);
  color: var(--blue);
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  width: 25px;
  height: 25px;
  /* display: flex;
  align-self: center; */
}

/* Flexbox (Mobile-First) */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
/* 
ul li {
  margin-bottom: 0.5rem;
} */

/* *** INFO MODAL *** */
.info-modal {
  padding: 1rem;
}

.info-modal .info-title-div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.info-modal p span {
  /* color: var(--orange); */
  font-weight: bold;
}

/*** Media Queries

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* .flex-row {
    flex-direction: row;
  }
  .flex-center {
    flex-direction: row;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
